{% extends 'base.html' %}
{% block content %}

<h1>Candidate Page</h1>

<h3> Name: {{ candidate.cand_name }}</h3>
<h3> Party: {{ candidate.party_id }} </h3>
<h3> Opponent: {} </h3>
<h3> District: {{ candidate.district_id }} </h3>





<h3>Top Contributors</h3>

<!-- for contributor in contributors, print all contributor information -->

<ul>
{% for contributor in contributors %}

<li><h4>{{ contributor.organizations.org_name }}</h4>
    <ul>
        <li>Total Amount to Candidate : {{ contributor.total }}</li>
        <li><a href='/organizations/{{ contributor.org_id }}'> Link to Org page</a></li>
    </ul>
</li>
{% endfor %}
</ul>


<h3>Top Industries</h3>

<!-- for industry in industries, print all industry information -->
<ul>

    {% for industry in industries %}
    <li><h4>{{ industry.industry_id.industry_name }}</h4></li>
    <ul>
        <li>Total Amount </li>
        <li>From PACs</li>
        <li>From Individuals</li>
    {% endfor %}

    </ul>
 

{% endblock %}