{% extends 'base.html' %}
{% block content %}


  <h1>Districts</h1>

 <p> Placeholder for selecting a state and a chamber to search</p>

<form action="/districts" method="GET">
 
 Select a State:
 <select name='state'>
    {% for state in states %}
    <option value='{{state}}'>{{states[state]}}</option>
    {% endfor %}
   </select>
<br>

Select a Chamber:

<input type='radio' name='chamber' value='house'>House of Representatives
<input type='radio' name='chamber' value='senate'>Senate

<input type='submit'>
</form>

<ul>
{% for candidate in candidates %}

    <li>{{ candidate.cand_name }}</li>

{% endfor %}
</ul>
{% endblock %}